[run]
branch = True
source =
	nagiosplugin
omit =
	nagiosplugin/compat.py
	nagiosplugin/examples/*
	nagiosplugin/platform/*

[report]
precision = 2
exclude_lines =
	pragma: no cover
	^\s*pass\b
	sys.exit\(
