[run]
branch = True
source =
	src/nagiosplugin
omit =
	src/nagiosplugin/compat.py
	src/nagiosplugin/examples/*
	src/nagiosplugin/platform/*

[report]
precision = 2
exclude_lines =
	pragma: no cover
	^\s*pass\b
	sys.exit\(
