bin
build
.cache
.coverage
coverage/
develop-eggs/
dist/
doc/_build
doc/doctrees
doc/html
doc/make.bat
doc/Makefile
*.egg-info
eggs/
htmlcov/
.idea
include/python*
.installed.cfg
lib64
lib/python*
local/
parts/
pip-selfcheck.json
*.py[co]
.pytest_cache
pyvenv.cfg
.ropeproject
setuptools_hg*
share/
*.sw[po]
tags
tests.xml
tmp
.todo
.tox
.venv