[buildout]
parts = nagiosplugin test makedoc
allow-picked-versions = false
versions = versions
newest = false
develop = .
package = nagiosplugin

[versions]
collective.recipe.sphinxbuilder = 0.7.0
distribute = 0.6.21
setuptools = 0.6c11
Sphinx = 1.1.2
z3c.recipe.scripts = 1.0.1
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.exceptions = 3.6.1
zope.interface = 3.8.0
zope.testrunner = 4.0.4

[nagiosplugin]
recipe = zc.recipe.egg
eggs = ${buildout:package}
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:package}
defaults = ['--auto-color']

[makedoc]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/_build
interpreter = ${buildout:directory}/bin/${nagiosplugin:interpreter}
