include buildout.cfg
include CONTRIBUTORS.txt
include HACKING.txt
include HISTORY.txt
include LICENSE.txt
include README.txt
include version.txt
graft doc
graft tests
global-exclude __pycache__
global-exclude *.py[co]
